html {
	height: 100%;
	background-color: $um-blue;
}
// Stick footer to the bottom of the browser
// window if the content doesn't push it
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.off-canvas-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .grid-container.content-well {
    width: 100%;
  }

  .container-footer {
    margin-top: auto;
    width: 100%;
  }
}

.content-well {
  main {
    padding: 3rem 0;
    @include breakpoint(small only) {
      padding-bottom: 0;
    }
  }
}

.visually-hidden.focusable.skip-link {
  position: absolute !important;
  top: -1000em;
  &:focus {
    left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: $um-maize;
    color: $um-blue;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
  }
}

.section-help {
  iframe { width: 100%; }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}