// Custom accordion styles
// -----------------------

.accordion {
  margin-bottom: 2rem;
}
.accordion-title {
  font-family: $um-ro-utility-font;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: '\f055';
    font-family: 'Fontawesome';
    color: $um-blue;
    font-size: 2.5rem;
    margin-top: -1.25rem;
  }

  &:hover {
    font-weight: 700;
    text-decoration: none;
  }
}

.is-active>.accordion-title {
  &::before {
    content: '\f056';
  }
}
