// Custom accordion styles
// -----------------------

.accordion {
  margin-bottom: 2rem;
}
.accordion.sticky .accordion-title {
  background-color: $accordion-background;
  position: sticky;
  top: 0;
}
// Logged in with admin bar tweak.
.toolbar-tray-open .accordion.sticky .accordion-title {
  top: 75px;
}
.accordion-title {
  font-family: $um-ro-utility-font;
  font-weight: 700;
  color: $black;
  line-height:  1.4em;
  padding-right: 3rem;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: '\f055';
    font-family: $um-fontawesome;
    color: $um-blue;
    font-size: 2rem;
    margin-top: -.75rem;
  }

  &:hover {
    font-weight: 700;
    text-decoration: none;
  }
}

.is-active>.accordion-title {
  &::before {
    content: '\f056';
  }
}
