// Specific to the calendar
// section for now. 
.path-calendars {

  .button {
    border-radius: 3px;
    box-shadow: inset 0px 11px 0 -10px $white,
    inset 0px -11px 0 -10px $white;
    background: $white;
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 0) 100%);

    &:focus,
    &:hover {
      background: rgb(230, 230, 230);
      background: linear-gradient(0deg, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%);
    }
  }
}

.search-form {

  .button {
    color: $black;
    border: 1px solid $medium-gray;
    border-radius: 3px;
    box-shadow: inset 0px 11px 0 -10px $white,
    inset 0px -11px 0 -10px $white;
    background: $white;
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 0) 100%);

    &:focus,
    &:hover {
      background: rgb(230, 230, 230);
      background: linear-gradient(0deg, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%);
    }
  }
}