// Specific to the calendar
// section for now. 
.section-calendars {

  .button {
    border-radius: 3px;
    box-shadow: inset 0px 11px 0 -10px $white,
    inset 0px -11px 0 -10px $white;
    background: $white;
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 0) 100%);
    &:hover {
      background: rgb(230, 230, 230);
      background: linear-gradient(0deg, rgba(230, 230, 230, 1) 0%, rgba(230, 230, 230, 0) 100%);
    }
  }
}
