// Custom card styles
// ------------------
.card {
  margin-bottom: 3.5rem;
  h4 {
    font-size: 1.5625rem;
    font-family: $um-ro-font;
  }
  .icon-wrapper {
    border-radius: .5rem;
    background-color: $um-blue;
    padding: .625rem;
    width: 3.4375rem;
    text-align: center;
    i {
      color: $white;
    }
  }
  .card-divider {
    text-align: center;
    font-family: $um-ro-font;
    padding: 0;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: darken($card-divider-background, 5%);
    }
    a {
      color: $white;
      display: inline-block;
      font-weight: 700;
      margin: 0 auto;
      padding: 1rem 0;
      text-decoration: none;
      .svg-inline--fa {
        transition: color .2s ease-in-out;
        @extend .animated;
      }
      &:hover {
        .svg-inline--fa {
          color: $um-maize;
          animation-name: bounceOutRight;
        }
      }
    }
  }
}