/* MENUS */
.menu {
  a {
    font-family: $um-ro-font;
    text-decoration: none;
    text-transform: uppercase;
   }
}

// Utility menu
.block-ro-utilitymenu {
  // float: right;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  top: .55rem;
  z-index: 200;

  .menu {
    float: right;

    a {
      color: $um-maize;
      font-family: $um-ro-utility-font;
      font-weight: 600;
      padding: 0 .5rem;
    }

    li {
      border-left: 1px solid $um-maize;
      display: inline-block;
      font-size: 12px;
      height: 1em;
      line-height: 100%;
      width: inherit;

      &:first-child {
        border: 0;
      }

      &:last-child {

        a {
          padding-right: 0;
        }
      }
    }
  }
}

// Main menu
.block-mainnavigation-4 {
  .menu-item {
    border-right: 1px solid $um-blue-lt;
    font-size: 13px;
    font-weight: 700;

    &.menu-item--active-trail {
      a {
        background: $um-maize;
        color: $um-blue;
      }
    }

    &:last-child {
      border: 0;
    }
  }

  a {
    color: $white;

    &.is-active {
      background: $um-maize;
      color: $um-blue;
      }

  }
}

// Sidebar Section menu
.block-ro-mainnavigation-3 {
  margin-top: 2rem;

  .menu-item {
    display: block;

    &:first-child {
      border-top: 1px solid $um-gray-md;
    }

    >.menu {

      a {
        color: $um-blue-lt;
        padding-left: 3em;
        text-transform: capitalize;
      }
    }
  }

  a {
    border-bottom: 1px solid $um-gray-md;
    color: $black;
    font-size: 13px;
    padding: 1em;
    text-transform: uppercase;

    &.is-active {
      background: $um-gray-md;

    }
  }

}
