// /* MENUS */
.menu {
  a {
    font-family: $um-ro-font;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// Mobile menu
// -----------
.user-logged-in {

  .mobile-menu {
    padding-top: 4rem;
  }

  .close-button {
    padding-top: 3.55rem;
    z-index: 9;
  }
}

.off-canvas.is-closed {
  @include breakpoint(large only) {
    display: none;
  }
}

.off-canvas button svg {
  color: $white;
}

.mobile-menu {
  .menu-item {
    background-color: darken($um-blue, 4%);
    display: inline-block;
    width: 100%;

    a {
      color: $white;
      padding: 1.125rem 1rem;
      text-transform: none;
    }

    ul {
      .menu-item {
        background-color: darken($um-blue, 6%);
        a {
          padding-left: 2rem;
        }
        &:last-child {
          border-bottom: 0;
        }
        ul {
          .menu-item {
            background-color: darken($um-blue, 8%);
            a {
              padding-left: 3rem;
            }
          }
        }
      }
    }
  }
}


// Utility menu
.block-ro-utilitymenu {
  margin-top: 1rem;
  position: absolute;
  right: 0;
  top: .55rem;
  z-index: 200;
  @include breakpoint(small only) {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .menu {
    float: right;
    @include breakpoint(small only) {
      float: none;
    }

    a {
      color: $um-maize;
      font-family: $um-ro-utility-font;
      font-weight: 400;
      padding: 0 .5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      border-left: 1px solid $um-maize;
      display: inline-block;
      font-size: .75rem;
      height: 1em;
      line-height: 100%;
      width: inherit;

      &:first-child {
        border: 0;
      }

      &:last-child {

        a {
          padding-right: 0;
        }
      }
    }
  }
}

// Main menu
.block-mainnavigation-4 {
  margin: 1em 0;
  position: relative;
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    @include breakpoint(medium only) {
      margin-left: -8px;
    }
  }
  .menu-item {
    border-right: 1px solid $um-blue-lt;
    flex-basis: auto;
    flex-grow: 1;
    font-size: .8125rem;
    margin: 0;
    padding: 0 1em;
    text-align: center;
    transition: border .2s ease-in-out;
    @include breakpoint(medium only) {
      font-size: .6875rem;
    }
    @include breakpoint(small only) {
      margin: .25rem 0;
      padding: .25rem 0;
    }

    &:first-child {

      a {

        &:hover {
          color: $um-maize;
        }
      }
    }

    &:last-child {
      border-right: 0;
    }

    a {
      color: $white;
      font-weight: $font-semi-bold;
      padding: 0;
      transition: all .2s ease-in-out;

      &:hover {
        color: $um-maize;
      }
    }

    &--active-trail {
      background: $um-maize;
      border-right: 0;
      position: relative;
      @include breakpoint(small only) {
        position: static;
      }

      a {
        color: $um-blue;

        &:hover {
          color: lighten($um-blue, 15%);
        }
      }

      &::before,
      &::after {
        background: $um-maize;
        content: '';
        display: inline-block;
        left: 0;
        position: absolute;
        width: 100%;
        @include breakpoint(small only) {
          display: none;
          position: static;
        }
      }

      &::before {
        height: 1rem;
        top: -1rem;
      }

      &::after {
        bottom: -1rem;
        height: 1rem;
      }
    }
  }
}

// Sidebar Section menu
.block-ro-mainnavigation-3 {
  margin-top: 2rem;
  @include breakpoint(small only) {
    margin-top: 0;
  }

  .menu-item {
    border-top: 1px solid $um-gray-md;
    display: block;
    width: 100%;

    &:nth-child(1) {
      border-top: 0;
    }

    >.menu {
      .menu-item {
        border-top: 0;
        // &.menu-item-active-trail {
        //   background: #f3f3f0;
        // }
        a {
          color: $um-blue-lt;
          padding-left: 3em;
          text-transform: capitalize;
        }
      }
    }
  }

  a {
    color: $black;
    font-size: .8125rem;
    font-weight: 700;
    line-height: 1.4;
    padding: 1em;
    text-transform: uppercase;

    &.is-active {
      background: $light-gray;
    }

    &:hover {
      background: $light-gray;
      text-decoration: underline;
    }
  }
}

// Footer menu
.block-footermenu,
.block-footermenu-2 {
  background: $um-blue-lt;
  padding: 2rem 1rem 1rem;

  .menu {
    justify-content: center;
  }

  a {
    color: $white;
    font-family: $um-ro-font;
    font-weight: 600;
    padding: 0 .5rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .menu-item {
    border-left: 1px solid $white;
    display: inline-block;
    font-size: .75rem;
    height: 1em;
    line-height: 100%;
    width: inherit;

    &:first-child {
      border: 0;
    }
  }
}
