// /* MENUS */
.menu {
  a {
    font-family: $um-ro-font;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// Utility menu
.block-ro-utilitymenu {
  margin-top: 1rem;
  position: absolute;
  right: 0;
  top: .55rem;
  z-index: 200;

  .menu {
    float: right;

    a {
      color: $um-maize;
      font-family: $um-ro-utility-font;
      font-weight: 400;
      padding: 0 .5rem;
      &:hover {
        text-decoration: underline;
      }
    }

    li {
      border-left: 1px solid $um-maize;
      display: inline-block;
      font-size: .75rem;
      height: 1em;
      line-height: 100%;
      width: inherit;

      &:first-child {
        border: 0;
      }

      &:last-child {

        a {
          padding-right: 0;
        }
      }
    }
  }
}

// Main menu
.block-mainnavigation-4 {
  .menu-item {
    border-right: 1px solid $um-blue-lt;
    font-size: .8125rem;
    padding: .7rem 1.45rem 1.5rem;
    transition: border .2s ease-in-out;

    &:first-child {
      border-right: 1px solid $um-blue-lt;
      padding-left: 0;
      a {

        &:hover {
          color: $um-maize;
        }
      }
    }

    &:last-child {
      border-right: 0;
    }

    a {
      color: $white;
      font-weight: $font-semi-bold;
      padding: 0;
      transition: all .2s ease-in-out;

      &:hover {
        color: $um-maize;
      }
    }

    &--active-trail {
      background: $um-maize;
      border-right: 0;
      border-top: 4px solid rgba($um-blue-lt, 0);

      a {
        color: $um-blue;

        &:hover {
          color: lighten($um-blue, 15%);
        }
      }
    }
  }
}

// Sidebar Section menu
.block-ro-mainnavigation-3 {
  margin-top: 2rem;

  .menu-item {
    display: block;
    width: 100%;
    border-top: 1px solid $um-gray-md;

    &:nth-child(1) {
      border-top: 0;
    }

    >.menu {
      .menu-item {
        border-top: 0;
        a {
          color: $um-blue-lt;
          padding-left: 3em;
          text-transform: capitalize;
        }
      }
    }
  }

  a {
    color: $black;
    font-size: .8125rem;
    font-weight: 700;
    padding: 1em;
    text-transform: uppercase;

    &.is-active {
      background: $light-gray;
    }

    &:hover {
    	text-decoration: underline;
    	background: $light-gray;
    }
  }
}

// Footer menu
.block-footermenu {
  background: $um-blue-lt;
  float: right;
  padding: 2rem 1rem 1rem;

  a {
    color: $white;
    font-family: $um-ro-utility-font;
    font-weight: 600;
    padding: 0 .5rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .menu-item {
    border-left: 1px solid $white;
    display: inline-block;
    font-size: .8125rem;
    height: 1em;
    line-height: 100%;
    width: inherit;

    &:first-child {
      border: 0;
    }
  }
}
