.pagination {
  a {
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
      background-color: darken($primary-color, 5%);
      color: $white;
    }
  }
  .is-active.current {
    &:hover {
      background-color: darken($primary-color, 5%);
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
