.search-block-form {
  // float: right;
  // width: 25%;
  padding-top: 2.8rem;
  @include breakpoint(small only) {
    padding-top: .5rem;
  }

  .input-group {
    display: block;
    position: relative;
  }

  .form-control {
    height: 1.5rem;
    margin-bottom: 0;
    // position: absolute;
    // right: 0;
    // top: 0;
    z-index: 10;

    &::placeholder {
      color: $black;
      text-transform: uppercase;
      font-size: .75rem;
    }
  }

  .submit-button {
    background: transparent;
    // display: inline-block;
    border: 0;
    box-shadow: none;
    font-size: 1em;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.75rem;
    z-index: 20;
  }
}
