// Calendar Page View
.bef-exposed-form {

  fieldset {
    float: left;
    width: 50%;
  }

  .js-form-item-field-term-target-id {
    float: left;
    width: 50%;

    label {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .fieldset-legend {
    font-weight: bold;
  }

  .fieldset-wrapper {
    width: 50%;
  }

  select {
    font-size: .875rem;
    width: 75%;
  }

  .form-actions {
    clear: both;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }

  .button {
    background-color: transparent;
    border: 1px solid $medium-gray;
  }
}

blockquote {
  font-size: 1.5625rem;
  font-family: $um-ro-font;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
  h6 {
    font-size: 1rem;
    font-weight: 800;
    margin-top: .75rem;
  }
}
