// Non-modular or client styles for .l-footer region.
.container-footer {
  background: $um-blue;
  color: $white;
  flex-shrink: 0;
  font-family: $um-ro-font;
  padding-bottom: 1rem;

  .um-badge {
    margin-right: 2rem;
    width: 140px;
  }

  a {
    color: $um-maize;
  }

  p {
    font-size: .8125rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;

    &.footer-site-name {
      color: $um-maize;
      font-size: 1rem;
      margin-bottom: 0;
    }

    a {
      color: $white;
      font-weight: bold;
    }
  }
}
