// Non-modular or client styles for .l-header region.
.container-header {
  background: $um-blue;

  .block-ro-branding {
    float: left;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 75%;

    a:last-child {
      display: none;
    }
  }

  #block-ro-utilitymenu {
    float: right;
    width: 25%;
  }

  .search-block-form {
    float: right;
    width: 25%;

    .input-group {
      display: block;
      position: relative;
    }

    .form-control {
      height: 2em;
      margin-bottom: 0;
      position: absolute;
      right: 0;
      top: 0;

      &[placeholder] {
        color: $black;
      }
    }

    .submit-button {
      // background: transparent;
      // display: inline-block;
      font-family: FontAwesome;
      font-size: 1em;
      height: 2em;
      position: absolute;
      right: 0;
      width: 2em;
    }
  }

  .menu {
    a {
      color: $um-maize;
     }
  }
}
