// Non-modular or client styles for .l-header region.
.container-header {
  background: $um-blue;
}

.block-ro-branding {
  float: left;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  width: 75%;

  a {
    &:last-child {
      display: none;
    }
  }
}
