// Non-modular or client styles for .l-header region.
.container-header {
  background: $um-blue;

  .grid-x {
    position: relative;
  }
}

.block-ro-branding {
  float: left;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  // width: 75%;

  a {
    display: inline-block;
    min-height: 46px;

    &:last-child {
      display: none;
    }
  }
}
