{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% if element['#form_id'] == 'search_block_form' %}

  <form action="{{element['#action']}}" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
    <div class="input-group">
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="text" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control" placeholder="Search" />
      <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="&#xf002;" class="btn btn-default js-form-submit submit-button fa fa-search" />
    </div>
  </form>
{% else %}

<form{{ attributes }}>
  {{ children }}
</form>

{% endif %}

